@font-face {
	font-family: "NanumGothic";
	src: url(NanumGothic-Regular.eot);
	src: url(NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
		url(NanumGothic-Regular.woff2) format('x-woff2'),
		url(NanumGothic-Regular.woff) format('woff'),
		url(NanumGothic-Regular.ttf) format('truetype');
}

html {
	font-family: NanumGothic;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: NanumGothic;
	font-size: 12px;
}

b,strong {
	font-weight: bold;
}

a {
	color: #777777;
	background: transparent;
	text-decoration: none;
}

a:visited,a:visited *,a.visited:visited {
	color: #777777;
	text-decoration: none;
}

a:hover,a:hover *,a.visited:hover {
	color: #FF7777;
	text-decoration: none;
}

img {
	border: 0;
}

.container {
	width: 1280px;
	margin: auto;
}

.navbar {
	background-color: black;
	display: block;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
	width: 100%;
}

.navbar-brand {
	color: rgb(255, 255, 255);
	font-size: 30px;
	height: 30px;
	font-weight: bold;
}

.navbar-fixed {
	position: fixed;
	top: 0px;
}

.popup {
	margin-top: 60px;
	width: 620px;
	overflow: hidden;
}

.jumbotron {
	background-color: rgb(218, 218, 218);
	display: block;
	font-size: 14px;
	padding-top: 18px;
	padding-bottom: 18px;
	width: 100%;
	display: block;
}

.summary {
	background-color: rgb(243, 243, 243);
	padding-top: 18px;
	padding-bottom: 18px;
	width: 100%;
}

.detail {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.poprow {
	line-height: 150%;
	padding: 15px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn:focus,.btn:active:focus,.btn.active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,.btn:focus {
	color: #333;
	text-decoration: none;
}

.btn:active,.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
	{
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
	{
	background-image: none;
}

.btn-default {
	-webkit-appearance: none;
	-webkit-box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset,
		rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
	-webkit-user-select: none;
	-webkit-writing-mode: horizontal-tb;
	align-items: flex-start;
	background-color: rgb(255, 255, 255);
	background-image: linear-gradient(rgb(255, 255, 255) 0%,
		rgb(224, 224, 224) 100%);
	background-repeat: repeat-x;
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset,
		rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
	box-sizing: border-box;
	color: rgb(51, 51, 51);
	cursor: pointer;
	display: inline-block;
	font-family: NanumGothic;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 34px;
	letter-spacing: normal;
	line-height: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: center;
	text-indent: 0px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 180px;
	word-spacing: 0px;
	writing-mode: lr-tb;
}

.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary
	{
	background-image: none;
}

.btn-primary {
	align-items: flex-start;
	background-color: rgb(45, 108, 162);
	background-image: linear-gradient(rgb(66, 139, 202) 0%,
		rgb(45, 108, 162) 100%);
	background-position: 0px -15px;
	background-repeat: repeat-x;
	border-bottom-color: rgb(40, 94, 142);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(40, 94, 142);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(40, 94, 142);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(40, 94, 142);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(255, 255, 255, 0.14902) 0px 1px 0px 0px inset,
		rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: NanumGothic;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 34px;
	letter-spacing: normal;
	line-height: 20px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 6px;0
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none solid rgb(255, 255, 255);
	text-indent: 0px;
	text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 180px;
	word-spacing: 0px;
	writing-mode: lr-tb;
}

.search {
	line-height: 20px;
	margin-bottom: 10px;
	width: 100%;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,th {
	font-family: NanumGothic;
	font-size: 12px;
	padding: 0;
}

.table {
	border-collapse: collapse;
	border-color: #777;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	font-family: NanumGothic;
	font-size: 14px;
	height: 76px;
	line-height: 20px;
	margin-bottom: 20px;
	width: 100%;
	border-style: solid;
}

table.sortable {
	border-spacing: 0;
	border: 1px solid #777;
	border-collapse: collapse;
}

table.sortable th,table.sortable td {
	text-align: left;
	padding: 2px 4px 2px 4px;
	border-style: solid;
	border-color: #444;
}

table.sortable th {
	border-width: 0px 1px 1px 1px;
	background-color: #ccc;
}

table.sortable td {
	border-width: 0px 1px 0px 1px;
}

table.sortable tr.odd td {
	background-color: #ddd;
}

table.sortable tr.even td {
	background-color: #fff;
}

table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}